@charset "utf-8";
.logIn_bg{
    width:100%;
}
.logIn_section{
    width:80%;
    margin:5% auto 10%;
}
.hint{
	color: #fb5556;
	margin-bottom: 0.5rem;
    font-size: 1rem;
}
.i_hint{
	width: 1.2rem;
	height: 1.2rem;
	background: url(../img/i_hint.png) no-repeat center center;
	background-size:100% ;
	vertical-align: middle;
	margin-right: 0.5rem;
}
.logIn_section input{
    width:100%;
    height:3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    padding:1% 1% 1% 12%;
    margin-bottom: 2%;
    border:none;
    box-sizing: border-box;
    border-bottom: 1px solid #54AD95;
}
.school_box{
    position: relative;
}
.school_list{
    width:100%;
    position: absolute;
    top:3rem;
    box-sizing: border-box;
    background: #fff;
    border:1px solid #ddd;
    border-top:none;
    z-index: 1;
    display: none;
}
.school_list>li{
    line-height: 3rem;
}
.school_list>li:hover{
    cursor: pointer;
    background: #ECECEC;
}
.school{
    background: url("../img/school.png") no-repeat left;
    background-size: 1.8rem 1.8rem;
}
.account{
    background: url("../img/account.png") no-repeat left;
    background-size: 1.8rem 1.8rem;
}
.password{
    background: url("../img/password.png") no-repeat left;
    background-size: 1.8rem 1.8rem;
}

.btn_logIn{
    display: inline-block;
    text-align: center;
    width:100%;
    height:4rem;
    line-height: 4rem;
    color: #fff;
    background: #2CC17B;
    border-radius: 5px;
    margin-top: 10%;
    font-size: 1.8rem;
    border: none;
    outline: none;
}

